{% extends 'parent/base.html' %}
{% load static %}

{% block title %}ایجاد اطلاعیه جدید{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/parent/forms.css' %}">
    {{ form.media }}
{% endblock %}

{% block body %}
    <section class="form-section fade-up">
        <div class="form-wrapper container">
            <h1 class="form-title">ایجاد اطلاعیه جدید</h1>

            <form method="post" enctype="multipart/form-data" class="form-container">
                {% csrf_token %}
                {{ form.as_div }}

                <!-- 🎯 دکمه ثبت -->
                <div class="form-actions">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">ثبت اطلاعیه</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/upload-file.js' %}"></script>
{% endblock %}