{% load static %}

<link rel="stylesheet" href="{% static 'css/partials/pagination.css' %}">

<div class="pagination">
    {% if pages.has_previous %}
        <a href="?page={{ pages.previous_page_number }}">&#171; قبلی</a>
    {% else %}
        <span class="disabled">&#171; قبلی</span>
    {% endif %}

    {% for num in pages.paginator.page_range %}
        {% if num >= pages.number|add:'-2' and num <= pages.number|add:'2' %}
            {% if pages.number == num %}
                <span class="active">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if pages.has_next %}
        <a href="?page={{ pages.next_page_number }}">بعدی &#187;</a>
    {% else %}
        <span class="disabled">بعدی &#187;</span>
    {% endif %}
</div> 