{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
	comment
{% endblock %}
{% block body %}
    {% if comment %}
    	<p>کامنت شما ثبت شد!</p>
        <a href="{{ post.get_absolute_url }}">بازگشت به پست</a>
    {% else %}
        <div class="form-container">
            <h2>ارسال فرم</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'blog:post_comment' post.slug %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ارسال">
            </form>
        </div> 
    {% endif %}
{% endblock %}