{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}
{% block title %}نظرات {{ report.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'report/css/report/comment_list.css' %}">
{% endblock %}

{% block body %}
<div class="container comments-page">
    <h1 class="comments-title">نظرات {{ report.title }}</h1>

    {% if comments %}
        <div class="comments-list">
            {% for comment in comments %}
                <div class="comment-card">
                    <div class="comment-header">
                        <div class="comment-user">
                            {% if comment.name.photo %}
                                <img src="{{ comment.name.photo.url }}" alt="{{ comment.name.username }}" class="comment-avatar">
                            {% else %}
                                <img src="{% static 'default.png' %}" alt="user avatar" class="comment-avatar">
                            {% endif %}

                            <div class="comment-info">
                                <strong>
{#                                    {% if comment.name.get_full_name %}#}
                                        {{ comment.name.get_full_name }}
{#                                    {% else %}#}
                                        {{ comment.name.username }}
{#                                    {% endif %}#}
                                </strong>
                                <span class="comment-date">{{ comment.created|jformat:"%Y/%m/%d - %H:%M" }}</span>
                            </div>
                        </div>
                    </div>

                    <p class="comment-body">{{ comment.body }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-comments">هنوز نظری ثبت نشده است.</p>
    {% endif %}

    <div class="back-btn-container">
        <a href="{{ report.get_absolute_url }}" class="btn btn-outline">بازگشت به گزارش</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'report/js/comment_react.js' %}"></script>
{% endblock %}