{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}

{% block title %}مجله خبری مسجد رضویه{% endblock %}

{% block body %}
    <section class="blog-list container">

        <!-- 🎬 هدر صفحه -->
        <header class="blog-header">
            <h2 class="section-title">مجله خبری رضویه</h2>
            <p class="section-subtitle">اخبار، گزارش‌ها و تحلیل‌های فرهنگی و اجتماعی مسجد رضویه</p>
        </header>

        {% include 'partials/post_cards.html' %}
    </section>
    {% include 'partials/pagination.html' with pages=posts %}
{% endblock %}