{% extends 'parent/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/parent/forms.css' %}">
{% endblock %}
{% block body %}
	<h1>ورود</h1>
        <h2>لطفا اطلاعات خود را وارد کنید</h2>
        <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">ثبت گزارش</button>
        </div>
        <p>اگر حسابی ندارید <a href="{% url 'accounts:register' %}">ثبت نام</a> کنید  </p>
        <p style="text-align: center"><a href="{% url 'accounts:password_reset' %}">فراموشی رمز ورود</a></p>
    </form>
{% endblock %}