{% extends 'parent/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'parent/forms.css' %}">
{% endblock %}
{% block body %}
	<h1>ورود</h1>
    <div class="form-container">
        <h2>لطفا اطلاعات خود را وارد کنید</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <input style="margin-top: 20px" type="submit" value="ورود">
        </form>
        <p>اگر حسابی ندارید <a href="{% url 'accounts:register' %}">ثبت نام</a> کنید  </p>
        <p style="text-align: center"><a href="{% url 'accounts:password_reset' %}">فراموشی رمز ورود</a></p>
    </div>
    
{% endblock %}