{% extends 'parent/base.html' %}
{% load static %}
{% block title %}change password{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'parent/forms.css' %}">
{% endblock %}
{% block content %}
    <div class="form-container">
        <h1>بازنشانی رمز ورود</h1>
        <h1>رمز جدید خود را وارد کنید</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="بازنشانی">
        </form>
    </div>
{% endblock %}