{% extends 'parent/base.html' %}
{% load static %}
{% block title %}reset password{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/parent/forms.css' %}">
{% endblock %}
{% block body %}
    <h1 style="text-align: center; margin-top: 50px" >بازنشانی رمز ورود</h1>
    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">ثبت گزارش</button>
        </div>
    </form>
{% endblock %}