{% extends 'parent/base.html' %}
{% load static %}
{% block title %}register{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/parent/forms.css' %}">
    {{ form.media }}
{% endblock %}
{% block body %}
    <h1>ثبت نام</h1>
    <p>لطفا اطلاعات خود را وارد کنید</p>
    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">ثبت گزارش</button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/upload-file.js' %}"></script>
{% endblock %}
